<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurnitureOnline"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Main5Activity"
            android:label=""
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".Main4Activity"
            android:label=""
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Main3Activity"
            android:label=""
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Main2Activity"
            android:label=""
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".SignupScreen"
            android:label=""
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

    </application>

</manifest>